[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
pandas = "*"
pymysql = "*"
impyla = "*"
kylinpy = "*"
pendulum = "==2.0"

[requires]
python_version = "3.6"
